html {
    font-family: Verdana;
}

p {
    position: relative;
    margin-top: -100px;
    font: bold 15px Verdana;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
}

.custom-paragraph {
    position: absolute;
    left: 0;
    color: #ffff82;
    font: bold 22px Verdana;
    transform: perspective(300px) rotateX(15deg);
    animation: scroll 5s linear;
    -moz-animation: scroll 5s linear; /* Firefox */
    -webkit-animation: scroll 5s linear; /* Safari and Chrome */
    -o-animation: scroll 5s linear; /* Opera */
    opacity: 0;
}

.text-blue {
    color: #4bd5ee;
}

.text-big {
    font-size: 30px;
}

#endText {
    transform: rotateX(0deg);
    font-size: 50px;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}